In [21]:
import torch
import numpy as np
import pandas as pd
import torch.nn as nn
import torchvision.transforms as transforms
import torch.nn.functional as F

raw_data = pd.read_csv("./data/imdb_labelled.txt", header=None, delimiter='\n')

display(raw_data.head())

                                                   0
0  A very, very, very slow-moving, aimless movie ...
1  Not sure who was more lost - the flat characte...
2  Attempting artiness with black & white and cle...
3    Very little music or anything to speak of.  \t0
4  The best scene in the movie was when Gerardo i...

Now we need to separate text from its labels

In [22]:
data = raw_data[0].str.rsplit("\t", n=1, expand=True)
data.columns = ["Text", "Label"]
display(data.head())

                                                Text Label
0  A very, very, very slow-moving, aimless movie ...     0
1  Not sure who was more lost - the flat characte...     0
2  Attempting artiness with black & white and cle...     0
3       Very little music or anything to speak of.       0
4  The best scene in the movie was when Gerardo i...     1

We have to clean each comments. (Removing punctuacion marks and digits)

In [23]:
import re
regular_exp = re.compile('[^a-zA-Z ]')
test = "Hello world!, I'm going to test this regexp pattern! :-) "
print("Before: ", test)
out = regular_exp.sub('', test)
out = out.lower()
print("After: ", out)

Before:  Hello world!, I'm going to test this regexp pattern! :-)
After:  hello world im going to test this regexp pattern

In [24]:
comments = []
for row in data['Text'].values:
    out = regular_exp.sub('', row)
    out = out.strip()
    comments.append(out.lower())
    
data = {"Text" : comments,
        "Labels" : data["Label"].values}

data_cleaned = pd.DataFrame(data)

display(data_cleaned.head())

                                                Text Labels
0  a very very very slowmoving aimless movie abou...      0
1  not sure who was more lost  the flat character...      0
2  attempting artiness with black  white and clev...      0
3          very little music or anything to speak of      0
4  the best scene in the movie was when gerardo i...      1

Now we can save our cleaned data

In [25]:
data_cleaned.to_csv("./data/cleaned_data.csv")